body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url(glen-park-bart-station-2.jpg);
  /*background-repeat: repeat;*/
  background-size: 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.blinkyDancer{
  background-image:url(EHONDA02.gif);
  width:140px;
  height:152px;
  position:absolute;
}
@-webkit-keyframes spin {
  to {-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes roll {
  to {-webkit-transform:rotate(-360deg);}
}
@-webkit-keyframes slide {
  10% { left: 1px;}
  100% { right: 999px;}
/*  68%{top: 150px;}
  20%{bottom: 190px;}*/
}
.spinner{
  background-image: url(lisa.gif);
  height:91px;
  width:95px;
  position:absolute;
  -webkit-animation: spin 1s;
}

.juggernaut {
  height:139px;
  width:164px;
  background-image: url(Juggernaut.gif);
  position:absolute;

}

.spinner:hover {
  -webkit-animation: roll 2s;
}
.slider {
  height: 48px;
  width: 48px;
  background-image: url(erik-rock.gif);
  position:absolute;
  -webkit-animation: slide 3s;
}

.lineUpLeft {
  -webkit-animation: slide 5s;
  position: static left;
}

